*{
    padding: 0;
    margin: 0;
}

a{
    color: rgba(0, 0, 0, 0.74);
}

p{  
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

header{
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    position: fixed;
    z-index: 100;
}

nav{
    float: left;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover{
    background: rgb(152, 179, 201);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    line-height: 2em;
    margin-top: 150px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    background-color: black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(152, 179, 201);
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 55px;
    color: white;
}

h3{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}

main{
    padding: 0.1px;
}

table{
    margin-left: 230px;
    border-collapse: collapse;
    min-width: 1000px;
}

td,th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

td:hover{
    background-color: rgb(152, 179, 201);
}

tr:nth-child(even){
    background-color: #ddd;
}


small{
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

th{
    background-color: rgb(152, 179, 201);
    border-bottom: solid 5px rgb(22, 48, 73) ;
}

button{
    color: #fff;
    background-color: rgb(152, 179, 201);
    padding:18px;
    font-size:9pt;
    font-weight:bold;
    cursor:pointer;
    text-transform: uppercase;
    border-radius:40px;
    border: 0;
    margin-left: 1150px;
    margin-right: 50px;
}

button:hover{
    background-color: rgb(189, 222, 250);
}



div.vinodiario img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.lapepita img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.enlaparra img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.lajara img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.lahoja21 img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.zazubistro img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.corteycata img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.ellaurel img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.isidro img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

div.bambu img.derecha{
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin: auto;

}

div.salamanca img.derecha{
    margin-right: 0px;
    margin-left: 0px;
    display: block;
    margin: auto;
}